<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Entity Alignment Visualization</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap";; rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>;
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css"; rel="stylesheet" type="text/css">
    <style>
        body {
            font-family: 'Roboto', sans-serif;
        }

        h1, h2 {
            color: #333;
        }

        #content {
            display: flex;
            justify-content: space-between;
        }
        #visualization-container {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
        }
        .graph-container {
            width: 45%;
            height: 500px;
            border: 1px solid lightgray;
            box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        }

        form {
            margin-bottom: 1em;
        }

        button {
            background-color: #3498db;
            color: white;
            padding: 6px 12px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-size: 16px;
            margin-top: 1em;
        }

        button:hover {
            background-color: #2980b9;
        }

        ul {
            list-style-type: none;
            padding: 0;
        }

        ul li {
            padding: 0.5em 0;
        }

    </style>
</head>
<body>

    <h1>Entity Alignment - Before and After</h1>

    <div id="content">
        <div id="visualization-container">
            <div id="graph-before" class="graph-container"></div>
            <div id="graph-after" class="graph-container"></div>
        </div>
    </div>
    <h2 style="font-weight: bold;">Entity pair selection</h2>
    <div id = "selectview">
        <div>
            <form method="POST">
                <label for="selected_entity1">Select entity1:</label>
                <br><br>
                <select name="selected_entity1" id="selected_entity1" onchange="updateEntity2Options()" style="width: 300px;">
                    <option value="" selected disabled>Select entity1</option>
                    {% for entity1 in unique_entity1 %}
                        <option value="{{ entity1 }}">{{ raw_entities_dbp[entity1] }}</option>
                    {% endfor %}
                </select>
                <br><br>
                <label for="selected_entity2">Select entity2:</label>
                <br><br>
                <select name="selected_entity2" id="selected_entity2" style="width: 300px;">
                    <option value="" selected disabled>Select entity2</option>
                </select>
                <br>
                <button type="submit">Apply</button>
            </form>
        </div>
    </div>


    <script>
        var graph_before_data = {{ graph_before_data|tojson }};
        var output_edges = {{ output_edges|tojson }};
        var new_edges = {{ new_edges|tojson }};
        var fixed_positions = {{ fixed_positions|tojson }};
        var raw_entities_dbp = {{ raw_entities_dbp|tojson }};
        var raw_entities_wd = {{ raw_entities_wd|tojson }};
        var pairs_data = {{ pairs_data|tojson }};
        
        function createGraph(container, beforeData, afterData, fixedPositions) {
            var nodes = new vis.DataSet([]);
            var edges = new vis.DataSet([]);
    
            var allData = beforeData.concat(afterData);
    
            allData.forEach(function (edge) {
                [edge[0], edge[1]].forEach(function (node) {
                    if (!nodes.get(node)) {

                        if (node < 140000){
                            if (node < 70000){
                                nodelabel = raw_entities_dbp[node];
                                nodecolor = '#FFFF91';
                            }
                            else{
                                nodelabel = raw_entities_wd[node];
                                nodecolor = '#85E0FF';
                            }
                        }
                        else{
                            if (node < 170000){
                                nodelabel = raw_entities_dbp[node];
                                nodecolor = '#FFFF91';
                            }
                            else{
                                nodelabel = raw_entities_wd[node];
                                nodecolor = '#85E0FF';
                            }
                        }
                        console.log("nodelabel: ",nodelabel);

                        nodes.add({
                            id: node,
                            label: nodelabel,
                            x: fixed_positions[node][0] * 500,
                            y: fixed_positions[node][1] * 500,
                            fixed: { x: true, y: true },
                            color: nodecolor 
                        });
                    }
                });
    
                var isAfterData = afterData.some(function (item) {
                    return item[0] === edge[0] && item[1] === edge[1];
                });
    
                edges.add({
                    from: edge[0],
                    to: edge[1],
                    color: isAfterData ? { color: '#FF4D4D'} : { color: 'gray' },
                    width: isAfterData ? 2 : 1,
                    label: isAfterData ? "sameAs" : undefined,
                    font: { align: "middle" }
                });
            });
    
            var data = {
                nodes: nodes,
                edges: edges
            };
                   
            var options = {
                nodes: {
                    shape: 'circle',
                    size: 20,
                    font: {
                        size: 16,
                        bold: true
                    },
                    widthConstraint: 50
                },
                edges: {
                    width: 1
                },
                physics: {
                    enabled: false
                },
                interaction: {
                    hover: true,
                    zoomView: true,
                    navigatorButtons: true,
                    keyboard: true,
                    scale: 0.5
                }
            };
    
            var network = new vis.Network(container, data, options);
        }
    
        function updateSelectedEdgesList(new_edges, raw_entities_dbp, raw_entities_wd) {
            var selectedEdgesList = document.getElementById('selected-edges-list');
            selectedEdgesList.innerHTML = '';

            new_edges.forEach(function(edge) {
                var edgeText = document.createElement('p');
                var rawname1 = raw_entities_dbp[edge[0]];
                var rawname2 = raw_entities_wd[edge[1]];
                edgeText.innerHTML = rawname1 + ' - ' + rawname2;
                selectedEdgesList.appendChild(edgeText);
            });
        }

        function updateEntity2Options() {
            var selectedEntity1 = document.getElementById('selected_entity1').value;
            var entity2Select = document.getElementById('selected_entity2');
            entity2Select.innerHTML = '<option value="" selected disabled>Select entity2</option>';
            
            if (selectedEntity1) {
                var filteredPairs = pairs_data.filter(function(pair) {
                    return pair.entity1 == selectedEntity1;
                });

                filteredPairs.forEach(function(pair) {
                    var entity2Option = document.createElement('option');
                    entity2Option.value = pair.entity2;
                    entity2Option.textContent = raw_entities_wd[pair.entity2] + ' (' + pair.score + ')';
                    entity2Select.appendChild(entity2Option);
                });
            }
        }

        document.getElementById('selected_entity1').addEventListener('change', updateEntity2Options);

        function updateEntity2Options() {
            var selectedEntity1 = document.getElementById('selected_entity1').value;
            var entity2Select = document.getElementById('selected_entity2');
            entity2Select.innerHTML = '<option value="" selected disabled>Select entity2</option>';
            
            if (selectedEntity1) {
                var filteredPairs = pairs_data.filter(function(pair) {
                    return pair.entity1 == selectedEntity1;
                });

                filteredPairs.forEach(function(pair) {
                    var entity2Option = document.createElement('option');
                    entity2Option.value = pair.entity2;
                    entity2Option.textContent = raw_entities_wd[pair.entity2] + ' (' + pair.score + ')';
                    entity2Select.appendChild(entity2Option);
                });
            }
        }

        var containerBefore = document.getElementById('graph-before');
        createGraph(containerBefore, graph_before_data, [], fixed_positions);

        var containerAfter = document.getElementById('graph-after');
        createGraph(containerAfter, graph_before_data, new_edges, fixed_positions);
        
        updateSelectedEdgesList(new_edges, raw_entities_dbp, raw_entities_wd);
    </script>
</body>
</html>