<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Interactive Graph</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/vis/4.21.0/vis.min.css" rel="stylesheet" type="text/css">
    <style>
        #content {
            display: flex;
            justify-content: space-between;
        }
        #visualization-container {
            display: flex;
            justify-content: space-around;
            flex-grow: 1;
        }
        .graph-container {
            width: 45%;
            height: 500px;
            border: 1px solid lightgray;
        }
    </style>
</head>
<body>

    <h1>Entity Alignment - Before and After</h1>

    <div id="content">
        <div>
            <form method="POST">
                <label for="selected_edges">Select edges to apply:</label>
                <br>
                <select name="selected_edges" id="selected_edges" multiple size="10" style="width: 300px;">
                    {% for edge in output_edges %}
                        <option value="{{ edge|join(',') }}">{{ edge|join(' - ') }}</option>
                    {% endfor %}
                </select>
                <br>
                <button type="submit">Apply</button>
            </form>
        </div>
        <div id="visualization-container">
            <div id="graph-before" class="graph-container"></div>
            <div id="graph-after" class="graph-container"></div>
        </div>
    </div>

    <script>
        var graph_before_data = {{ graph_before_data|tojson }};
        var output_edges = {{ output_edges|tojson }};
        var new_edges = {{ new_edges|tojson }};
        var fixed_positions = {{ fixed_positions|tojson }};
    
        function createGraph(container, beforeData, afterData, fixedPositions) {
            var nodes = new vis.DataSet([]);
            var edges = new vis.DataSet([]);
    
            var allData = beforeData.concat(afterData);
    
            allData.forEach(function (edge) {
                [edge[0], edge[1]].forEach(function (node) {
                    if (!nodes.get(node)) {
                        nodes.add({
                            id: node,
                            label: String(node),
                            x: fixedPositions[node][0] * 500,
                            y: fixedPositions[node][1] * 500,
                            fixed: { x: true, y: true }
                        });
                    }
                });
    
                var isAfterData = afterData.some(function (item) {
                    return item[0] === edge[0] && item[1] === edge[1];
                });
    
                edges.add({ from: edge[0], to: edge[1], color: isAfterData ? { color: '#ff383f' } : { color: '#0000FF' } });
            });
    
            var data = {
                nodes: nodes,
                edges: edges
            };
    
            var options = {
                nodes: {
                    shape: 'circle',
                    size: 20,
                    font: {
                        size: 16,
                        bold: true
                    }
                },
                edges: {
                    width: 1
                },
                physics: {
                    enabled: false
                },
                interaction: {
                    hover: true,
                    zoomView: true
                }
            };
    
            var network = new vis.Network(container, data, options);
        }
    
        var containerBefore = document.getElementById('graph-before');
    createGraph(containerBefore, graph_before_data, [], fixed_positions);

    var containerAfter = document.getElementById('graph-after');
    createGraph(containerAfter, graph_before_data, new_edges, fixed_positions);
</script>
    
    
    

</body>
</html>