<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+Knujsl5Auj9/fontawesome.1c2C40Xmxz+cXiYA2r7g8/8WUJv6/2M6b7gg6/z7N6pHAJ+aLrXQNpvInvariantCB/p3ZwJ+wGpRMH3Jw1TLE5auN8rcX+rR/4Zpuppies+pyramid+j2d2dujdk7M0jKZu7DyBpE=" crossorigin="anonymous">
    <title>Graph Visualization</title>
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form method="post">
                <div class="form-group">
                    <label for="selected_edges">Select edges to add</label>
                    <select multiple class="form-control" id="selected_edges" name="selected_edges">
                        {% for edge in output_edges %}
                        <option>{{ edge[0] }},{{ edge[1] }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
    </div>
    <div class="col-md-8">
        <div class="row">
            <div class="col-md-6">
                <h3>Original Graph</h3>
                {% if graph_before_data %}
                    <img src="data:image/png;base64,{{ graph_before_data }}" alt="Original Graph" class="img-fluid">
                {% endif %}
            </div>
            <div class="col-md-6">
                <h3>Graph with New Edges</h3>
                {% if graph_after_data %}
                    <img src="data:image/png;base64,{{ graph_after_data }}" alt="Graph with New Edges" class="img-fluid">
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoJtKh7z7lGz7fuP4F8nfdFvAOA6Gg/z6Y5J6XqqyGXYM2ntX5" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>
